@model List<ModelsData.Servises>

@{
    Layout = "_Layout";
    ViewData["Title"] = "About";
}

<h4 class="d-flex justify-content-center">О деканате</h4>

<p name="hours-of-work">@ViewData["Information"] </p>

<p>Предоставляемые услуги:</p>

<div name="servises">
    @foreach (var item in Model)
    {
        <p name="servise1">@Html.ActionLink(@item.Name, "Servise", "Students", new { servId = @item.Id }, null)</p>
    }
    
</div>