@model dynamic

@{
    Layout = "_Layout";
    ViewData["Title"] = "About";
}

<h4 class="d-flex justify-content-center">О деканате</h4>

<p name="hours-of-work">Часы работы: </p>

<p name="hours-of-dinner">Обед: </p>

<p><a name="about" href="">О нас</a></p>

<p name="cabinet">Кабинет: </p>

<p>Предоставляемые услуги:</p>

<div name="servises">
    <p name="servise1"><a asp-area="" asp-controller="Students" asp-action="Servise">**Справка об обучении**</a></p>
</div>