@model List<ModelsData.SubdivisionModel>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Home";
}

<h2 class="d-flex justify-content-center">Главная страница</h2>


<div class="d-flex justify-content-center">
    @foreach (var sub in Model)
    {
        <form method="post" name="ChoosingSubServise">
            <input name="Sub_id" value="@sub.Id" type="hidden"/>
            <input name="Info" value="@sub.Information" type="hidden"/>
            <input class="btn" type="submit" value="@sub.Name"/> 
        </form>
    }
</div>
