@model dynamic

@{
    Layout = "_Layout";
    ViewData["Title"] = "Home";
}

<h2 class="d-flex justify-content-center">Главная страница</h2>

<div class="d-flex justify-content-center">
    <div class="btn"><a asp-area="" asp-controller="Students" asp-action="About">Деканат</a></div>
</div>