@model List<ISTU_MFC.ModelsData.SubdivisionModel>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Home";
}

<h2 class="d-flex justify-content-center">Главная страница</h2>

<div class="d-flex justify-content-center">
    @foreach (var sub in Model)
    {
        <div class="btn" >@Html.ActionLink(@sub.Name, "About", "Students", new { sub_id = @sub.Id, info = @sub.Information}, null)</div>
    }
    
</div>