@using System.Xml
@model List<ModelsData.MessageModel>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Notifications";
}

<h2 class="d-flex justify-content-center">Уведомления</h2>
<div class="d-flex" style="margin-bottom: 20px;">
    <form method="post" name="ReadAll">
        <input name="button" type="submit" class="btn" value="Прочитать всё" />
    </form>
</div>
<div name="notifications" class="notifications">
    @foreach (var noty in Model)
    {
        string s;
        if (noty.Status == "viewed")
        {
            s = "viewed";
        }
        else
        {
            s = "not-viewed";
        }
        <div name="notif" class="grey2 current-notification @s">
            <div class="notification-text justify-content-start">№@noty.RequestId</div>
            <div class="notification-text justify-content-center">@noty.Text</div>
            <div class="notification-text justify-content-end">@noty.Date</div>
        </div>
    }
</div>