@using System.Xml
@model List<ModelsData.MessageModel>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Notifications";
}

<h2 class="d-flex justify-content-center">Уведомления</h2>

<div class="d-flex" style="margin-bottom: 20px;">
    <form method="post" name="ReadAll">
        <input name="button" type="submit" class="btn" value="Прочитать всё" />
    </form>
</div>

<div name="notifications" class="black-grey notifications">
    @foreach (var noty in Model)
    {
        <div name="notif" class="d-flex justify-content-around" style="background-color: white; border-radius: 50px; margin-bottom: 10px;">
            <div>
                @{
                    if (noty.Status == "not viewed")
                    {
                        <i style="color: red;" class="far fa-circle"></i>
                    }
                    else
                    {
                        <i style="color: green;" class="fas fa-circle"></i>
                    }
                }
                @noty.RequestId
            </div>
            <div>
                @noty.Text
            </div>
            <div>
                @noty.Date
            </div>
        </div>
    }
</div>