@{
    ViewData["Title"] = "Auth";
    Layout = "_LayoutLogIn";
}
<h1 align="center">Login</h1>
<div align="center">
	<form method="POST">
		<div class="form-group">
			<label for="login">Логин</label>
			<input id="login" name="login" type="text" required autofocus/>
		</div>
		<div class="form-group">
			<label for="psw">Пароль</label>
			<input id="psw" name="psw" type="password" required/>
		</div>
		<div class="form-group">
			<input name="submit" type="submit" value="Войти"/>
		</div>
	</form>
</div>