@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ISTU_MFC.ViewModels.DownloadGenerationViewModel

@{
    Layout = "_LayoutEmployees";
    ViewData["Title"] = "DownloadGeneration";
}

<div class="d-flex">
    <h3>ID заявки:</h3>
    <h3 name="IDservice">@Model.RequestId</h3>
</div>

<form>
        
</form>

<img src= "/images/MotHelp_temp14-11-22_08-43-48.jpg" alt="Preview Photo" />

<div name="buttons" class="d-flex">
    
    <div class="btn">@Html.ActionLink("Скачать", "Download", 
                         "Employees", new {documentPath = @Model.PathToDownloadDocument}, null)</div>
</div>