@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ISTU_MFC.ViewModels.DownloadGenerationViewModel

@{
    Layout = "_LayoutEmployees";
    ViewData["Title"] = "DownloadGeneration";
}

<div class="d-flex">
    <h3>ID заявки:</h3>
    <h3 name="IDservice">@Model.RequestId</h3>
</div>

<form>
        
</form>

@* <object> *@
@*     <embed src="../File/Output/КардапольцевКД_4_111222_015554.docx" width="800" height="1200"/> *@
@* </object> *@

<a class="view" href="javascript:">View Word Doc</a>

<div id="word-container" class=""></div>

<div name="buttons" class="d-flex">
    <form method="post" name="Download">
        <input name="DocumentPath" value="@Model.PathToDownloadDocument" type="hidden"/>
        <input name="button" value="Скачать" class="btn" type="submit"/>
    </form>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/jszip/dist/jszip.min.js"></script>
<script src="js/docx-preview.js"></script>
<script type="text/javascript">
        $(function () {
            $(".view").click(function () {
                $.ajax({
                    type: "POST",
                    url: "/Employees/GetWordDocument",
                    data: {"path": @Model.PathToPreviewDoc},
                    success: function (r) {
                        //Convert BLOB to File object.
                        var doc = new File(r.Data);
 
                        //If Document not NULL, render it.
                        if (doc != null) {
                            //Set the Document options.
                            var docxOptions = Object.assign(docx.defaultOptions, {
                                useMathMLPolyfill: true
                            });
                            //Reference the Container DIV.
                            var container = document.querySelector("#word-container");
 
                            //Render the Word Document.
                            docx.renderAsync(doc, container, null, docxOptions);
                        }
                    }
                });
            });
        });
</script>