@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ISTU_MFC.ViewModels.DownloadGenerationViewModel

@{
    Layout = "_LayoutEmployees";
    ViewData["Title"] = "DownloadGeneration";
}

<div class="d-flex">
    <h3>ID заявки:</h3>
    <h3 name="IDservice">@Model.RequestId</h3>
</div>

<form>
        
</form>

<object> 
     <iframe src="@Model.PathToPreviewDoc" width="80%" height="500px"></iframe>
</object> 

<a class="view" href="javascript:">View Word Doc</a>

<div id="word-container" class=""></div>

<div name="buttons" class="d-flex">
    <form method="post" name="Download">
        <input name="DocumentPath" value="@Model.PathToDownloadDocument" type="hidden"/>
        <input name="button" value="Скачать" class="btn" type="submit"/>
    </form>
</div>
<form asp-action="AddFile" method="post" enctype="multipart/form-data">
    <input type="file" name="uploadedFile" /><br>
    <input type="submit" value="Загрузить" />
</form>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/jszip/dist/jszip.min.js"></script>
<script src="js/docx-preview.js"></script>
<script type="text/javascript">
        $(function () {
            $(".view").click(function () {
                $.ajax({
                    type: "POST",
                    url: "/Employees/GetWordDocument",
                    data: {"fileName": "@Model.PathToPreviewDoc"},
                    success: function (r) {
                        //Convert BLOB to File object.
                        var bytes = Base64ToBytes(r.Data);
                        var doc = new File([bytes], "application/vnd.openxmlformats-officedocument.wordprocessingml.document");
                        //var doc = new File([r.Data], "application/vnd.openxmlformats-officedocument.wordprocessingml.document");
 
                        //If Document not NULL, render it.
                        if (doc != null) {
                            //Set the Document options.
                            var docxOptions = Object.assign(docx.defaultOptions, {
                                useMathMLPolyfill: true
                            });
                            //Reference the Container DIV.
                            var container = document.querySelector("#word-container");
 
                            //Render the Word Document.
                            docx.renderAsync(doc, container, null, docxOptions);
                        }
                    }
                });
            });
        });
        function Base64ToBytes(base64) {
                    var s = window.atob(base64);
                    var bytes = new Uint8Array(s.length);
                    for (var i = 0; i < s.length; i++) {
                        bytes[i] = s.charCodeAt(i);
                    }
                    return bytes;
                };
</script>