@using System.Xml
@model List<ISTU_MFC.ModelsData.MessageModel>

@{
    Layout = "_LayoutEmployees";
    ViewData["Title"] = "Notifications";
}

<h2 class="d-flex justify-content-center">Уведомления</h2>

<div class="d-flex" style="margin-bottom: 20px;">
    <button type="submit" class="btn">Прочитать всё</button>
</div>

<div name="notifications" class="black-grey" style="padding: 10px 20px 0px 20px">
    @foreach (var noty in Model)
    {
        <div name="notif" class="d-flex justify-content-around" style="background-color: white; border-radius: 30px; margin-bottom: 20px;">
            <div>
                @noty.RequestId, @noty.Status
            </div>
            <div>
                @noty.Text
            </div>
            <div>
                @noty.Date
            </div>
        </div>
    }
</div>