@model dynamic

@{
    Layout = "_LayoutEmployees";
    ViewData["Title"] = "ServiceConstructor";
}

<div name="form" class="login-form">
    <form name="auth" class="form-horizontal">
        <fieldset name="nameservice" class="form-group">
            <label for="nameservice">Название услуги</label>
            <input type="text" name="nameservice" placeholder="" autofocus required />
        </fieldset>

        <fieldset name="infoservice" class="form-group">
            <label for="infoservice">Информация об услуге</label>
            <textarea></textarea>
        </fieldset>

        <fieldset name="choosepref" class="form-group">
            <p class="btn">Выбрать шаблон</p>
        </fieldset>

        <fieldset name="createpref" class="form-group">
            <p class="btn"><a asp-area="" asp-controller="Employees" asp-action="DocGenerator">Создать шаблон</a></p>
        </fieldset>

        <fieldset name="save" class="form-group">
            <button class="btn" type="submit">Сохранить</button>
        </fieldset>
    </form>
</div>