@model List<ModelsData.RequestModel>



@{
    Layout = "_LayoutEmployees";
    ViewData["Title"] = "Home";
}

<header style="height:50px">

</header>

<div name="ServiseConstructor" class="btn left-margin"><a asp-area="" asp-controller="Employees" asp-action="ServiceConstructor">Конструктор услуг</a></div>

<div name="SearchFilter">
    <form method="post" style="margin-bottom: 20px;">
        <fieldset name="search" style="margin-top: 20px;">
            <input type="text" name="query" placeholder="Поиск по номеру заявок" />
        </fieldset>

        <fieldset name="filter" style="margin-top: 20px;">
            <label for="status">Фильтр заявок:</label>
            <select name="status">
                <option value="1"></option>
                <option value="2"></option>
            </select>
        </fieldset>
        
        <fieldset name="buttons" style="margin-top: 20px;">
            <button class="btn" type="submit">Применить</button>
        </fieldset>
    </form>
</div>

<div name="Services" class="services white-grey">
    <form method="post">
        
        @foreach (var req in Model)
        {
            <div class="service black-grey d-flex" style="color: black;">
                @Html.ActionLink(@$"{req.Id} {req.Caption}", "RequestGenerator", "Employees", new { req_id = @req.Id }, null)
            </div>
        }
    </form>
</div>