@model dynamic

@{
    Layout = "_LayoutEmployees";
    ViewData["Title"] = "Home";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<header style="height:50px">

</header>

<div name="ServiseConstructor" class="btn left-margin"><a asp-area="" asp-controller="Employees" asp-action="ServiceConstructor">Конструктор услуг</a></div>

<div name="Archive" class="btn left-margin"><a>Архив</a></div>

<div name="ServiceCollection" class="btn left-margin"><a>Список услуг</a></div>

<@*div name="SearchFilter" class="d-flex justify-content-start site-header-top-search">
    <form>
        <input type="text" class="input" name="query" placeholder="Поиск по номеру заявок">
        <button type="submit"></button>
    </form>
</div>*@

<div name="Services" class="services white-grey">
    <div name="service1" class="service black-grey">
        <button type="submit" class="btn-primary" name = "Action" style="max-height: 50px; min-height: 50px; max-width: 50px; min-width: 50px" value = "1" asp-area="" asp-controller="Employees" asp-action = "Action">TESTOVOE GOVNO</button>
    </div>
    <div name="service2" class="service black-grey">
        <button type="button" class="btn-primary" name = "Action" style="max-height: 50px; min-height: 50px; max-width: 50px; min-width: 50px" value = "2" asp-area="" asp-controller="Employees"  asp-action = "Action">GOVNO V2</button>
    </div>
    <div name="service3" class="service black-grey">
        <button class="btn-primary" name = "Action"  style="max-height: 50px; min-height: 50px; max-width: 50px; min-width: 50px" value = "2" asp-area="" asp-controller="Employees"  asp-action = "Action">GOVNO V2</button>
    </div>
    <div name="service4" class="service black-grey">
        <button style="max-height: 50px; min-height: 50px; max-width: 50px; min-width: 50px" asp-route-value="" value = "2" asp-area="" asp-controller="Employees"  asp-action = "Action">GOVNO V2</button>
    </div>
    
</div>