<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
<header class="d-flex justify-content-between align-items-center colored" style="margin-bottom: 50px;height: 50px">
    <div class="d-flex justify-content-start align-items-center">
        <a asp-area="" asp-controller="Students" asp-action="Home"><img src="~/images/IstuLogo.png" alt="лого" width="40px" height="40px"/></a>
        <a asp-area="" asp-controller="Students" asp-action="Home" style="font-size:20pt; color:black;">МФЦ ИжГТУ</a>
    </div>
    <div class="d-flex justify-content-end">
        <a asp-area="" asp-controller="Students" asp-action="Notifications"><img src="~/images/NotifLogo.png" alt="увед" width="40px" height="40px"/></a>
        <a asp-area="" asp-controller="Students" asp-action="Profile"><img src="~/images/PersonLogo.png" alt="лич" width="40px" height="40px"/></a>
        <a asp-area="" asp-controller="LogIn" asp-action="Logout"><img src="~/images/ExitLogo.png" alt="выход" width="40px" height="40px"/></a>
    </div>
</header>
@RenderBody()
<!---
<div class="container">
    <main role="main" class="pb-3">
        
    </main>
</div>
--->
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>