/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #000000;
}
.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {  
    html {
        font-size: 16px;
    }
}
.border-top {
    border-top: 1px solid #e5e5e5;
}
.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}
.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body { 
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: Cuprum, "Open Sans", sans-serif;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
.colored {
    background-color: #164ACF;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 0 10px;
}
.docs {
    border: 2px solid black;
    border-radius: 12px;
}
.pdocs {
    padding: 4px 0 0 4px;
}
.black-grey {
    background-color: #87898A;
}
.white-grey {
    background-color: #D9D9D9;
}
.login-form {
    margin: 0 0 60px 0;
    display: flex;
    justify-content: center;
}
.login-form .form-horizontal .form-group {
    display: flex;
    flex-direction: column;
}
.form-group {
    margin-bottom: 2rem;
}
.btn {
    background-color: #164ACF;
    color: white;
    padding: 10px 40px;
    border-radius: 20px;
    border: none;
}
.btn:hover {
    background-color: #0f3598;
    color: white;
}
.btn:disabled {
    background-color: #5a6268;
    color: white;
}
.left-margin {
    margin: 0 0 0 20px;
}
.services {
    padding: 20px 20px 10px 20px;
    border-radius: 30px;
    border: 1px solid grey;
    margin-top: 20px;
    height: 650px;
    overflow-y: auto;
}
.service {
    margin-bottom: 10px;
    border-radius: 50px;
    border: none;
    max-width: 1080px;
    justify-content: center;
    padding: 20px;
    font-size: 20px;
}
.grey1 {
    background-color: #C6C6C6;
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    min-height: 60px;
    min-width: 250px;
    text-align: center;
    margin-bottom: 20px;
    color: black;
}
.grey2 {
    background-color: #F0F0F0;
    padding: 10px 20px;
    margin-left: 25px;
    margin-bottom: 20px;
    border-radius: 30px;
    border: 1px solid black;
    min-height: 60px;
    min-width: 250px;
    color: #7a7a7a;
}
.form-panel{
    background-color: #fcfcfc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    padding: 30px;
    display: grid;
    /*background-color: #164ACF;*/
    margin-bottom: 20px;
    min-height: 60px;
    min-width: 250px;
    height: 400px;
    grid-template-columns: auto;
    grid-template-rows: 50px 170px;
}
.form-panel-item{
    margin: auto;
    max-width: fit-content;
    min-width: -webkit-max-content;
}
.form-panel-text{
    margin: 0 auto;
    text-align: center;
    width: 252px;
    overflow-wrap: break-word;
}
.btn-big {
    background-color: #164ACF;
    padding: 10px 20px;
    margin-left: 25px;
    margin-bottom: 20px;
    border-radius: 30px;
    border:none;
    min-height: 60px;
    min-width: 250px;
    color: white;
}
.btn-big:hover {
    background-color: #0f3598;
    color: white;
}
.label_stud_data {
    display: flex;
    justify-content: center;
    align-items: center;
}
.field_stud_data {
    display: flex;
    align-items: center;
}
@media (min-width: 650px) {
    .login-form .form-horizontal {
        background-color: #fcfcfc;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
        padding: 30px;
        min-width: 350px;
    }
    .stud_data {
        display: flex;
    }
    .field_stud_data {
        justify-content: start;
    }
    .grey2 {
        background-color: #F0F0F0;
        padding: 10px 20px;
        margin-left: 25px;
        margin-bottom: 20px;
        border-radius: 30px;
        border: 1px solid black;
        min-height: 60px;
        min-width: 250px;
        color: #7a7a7a;
    }
    .id {
        margin-left: 20px;
    }
    .request_buttons {
        display: flex;
        justify-content: center;
    }
    .request_buttons .shit {
        margin-left: 40px;
    }
    .name {
        display: flex;
        align-items: center;
    }
    .about-list {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}
@media (max-width: 650px) {
    .login-form .form-horizontal {
        background-color: #fcfcfc;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
        padding: 30px;
        min-width: 290px;
    }
    .stud_data {
        display: block;
    }
    .field_stud_data {
        justify-content: center;
    }
    .grey2 {
        background-color: #F0F0F0;
        padding: 10px 20px;
        margin-bottom: 20px;
        margin-left: 0;
        border-radius: 30px;
        border: 1px solid black;
        min-height: 60px;
        min-width: 250px;
        color: #7a7a7a;
    }
    .id {
        margin-left: 0;
    }
    .request_buttons {
        display: block;
        justify-content: center;
    }
    .request_buttons > form {
        margin-bottom: 20px;
    }
    .request_buttons .shit {
        margin-left: 0;
    }
    .name {
        display: none;
    }
    .about-list {
        display: block;
    }
}
::-webkit-scrollbar {
    background-color: #fff;
}
::-webkit-scrollbar-corner {
    background-color: #164ACF;
}
::-webkit-scrollbar-thumb {
    background-color: #164ACF;
    border: 0;
}
::-webkit-scrollbar-track {
    background-color: #fff;
}
.heading_logos {
    background-color: #164ACF;
    color: #fff;
    height: 50px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.heading_logos:hover {
    background-color: #fff;
    color: #164ACF;
    text-decoration: none;
}
.logos{
    width: 50px;
    padding: 10px;
}
.notifications {
    padding: 20px 20px 10px 20px;
    border-radius: 30px;
    border: 1px solid grey;
    margin-top: 20px;
    height: 645px;
    overflow-y: auto;
    background-color: #f5f5f5;
}
.not-viewed {
    color: black;
    background-color: #d3d3d3;
}
.viewed {
    color: #8c8c8c;
    background-color: #f5f5f5;
}
.notification-text {
    display: flex;
    flex-basis: 0;
    align-items: center;
    flex-grow: 1;
}
@media (min-width: 650px) {
    .wtf {
        display: flex;
        flex-basis: 0;
        align-items: center;
        flex-grow: 1;
    }
    .current-notification {
        width: 100%;
        margin-left: 0;
        font-size: 20px;
        border-radius: 50px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid grey;
    }
}
@media (max-width: 650px) {
    .wtf {
        display: block;
    }
    .current-notification {
        width: 100%;
        margin-left: 0;
        font-size: 20px;
        border-radius: 50px;
        margin-bottom: 10px;
        display: block;
        border: 1px solid grey;
    }
}
input {
    border-radius: 20px;
    border: 1px solid black;
    padding: 1px 10px;
}
select {
    border-radius: 20px;
    border: 1px solid black;
    padding: 1px 10px;
}
textarea {
    min-height: 100px;
}
.service-list-btn {
    color: #164ACF;
    font-size: 20pt;
    border: none;
    border-radius: 20px;
}
.service-list-btn:hover {
    background-color: #164ACF;
    color: #fff;
}
.service-list-btn:focus {
    outline: none;
}
.blink{
    animation: blink 1s infinite;
}
@keyframes blink{
    0% {
        background-color: white;
    }
    50% {
        background-color: #e4606d;
    }
    100%{
        background-color: white;
    }
}
.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}
.alert-box {
    padding: 20px;
    border-radius: 30px;
    margin-bottom: 20px;
}
hr {
    display: block;
    margin: 20px 0;
    border-top: 1px solid #b1b1b1;
}
li {
    list-style-type: decimal;
}
.requests-list {
    height: 582px;
    overflow-y: auto;
}
.caution
{
    display: none;
}
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 0;
    margin-left: 0;
}
#shiiit {
    background-color: #d3d3d3;
    color: black;
    padding: 10px 40px;
    border-radius: 20px;
    border: none;
}
#shiiit:hover {
    background-color: #b4b4b4;
    color: black;
}
.warning-box {
    background-color: #ff8e8e;
    color: #480000;
    border: 1px solid black;
    border-radius: 30px;
    padding: 20px;
    font-size: 16pt;
    margin: 10px 0;
}
.input-file {
    position: relative;
    display: inline-block;
}
.input-file span {
    width: 288px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    font-size: 14px;
    vertical-align: middle;
    color: black;
    text-align: center;
    border-radius: 20px;
    background-color: #dbdbdb;
    line-height: 22px;
    height: 28px;
    padding: 3px 20px 17px 20px;
    box-sizing: border-box;
    border: 1px solid black;
    margin: 0;
    transition: background-color 0.2s;
}
.input-file input[type=file] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}

/* Focus */
.input-file input[type=file]:focus + span {
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

/* Hover/active */
.input-file:hover span {
    background-color: #164ACF;
    color: white;
}
.input-file:active span {
    background-color: #0f3598;
    color: white;
}

/* Disabled */
.input-file input[type=file]:disabled + span {
    background-color: #eee;
}